[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-pdf-export-plugin = "*"
weasyprint = "*"
mkdocs-with-pdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
